.contact{
    display: flex;
    background: url('../../../assets/bg-registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:calc(100vh - 40px);
}
.container{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    color: #000;
    text-align: center;
    padding: 20px;    
    font-family: 'Bebas Neue';
    background-color:rgba(255,255,255, .7);
    border-radius: 15px;
}
span{
    color: #fff;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
mat-form-field{
    background-color:rgba(255,255,255, .7);;
    margin: 15px;
    padding: 8px;
    width: 90%;
    border-radius: 15px;
}
mat-label{
    color:#000
}
mat-error{
    font-size: 14px;
    margin-left: 10px;
}
.buttons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    button{
        margin: 5px;
    }
}
@media(max-width:750px){
    .contact{
    flex-wrap: wrap;
    }
    .container{
        width: 100%;
    }
    h1{
        font-size: 35px;
    }
    form{
        width: 90%;
    }
    .buttons{
        flex-direction: column;
    }
}