<mat-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Sus productos</ng-template>
        <div *ngIf="(products$ | async) as products" class="container">
            <p *ngIf="products.length === 0">Aun no hay productos en tu carrito</p>
              <mat-card class="card" *ngFor="let product of products | order">
                <img mat-card-image [src]="product.img" alt="product.description" loading="lazy">
                <p>{{product.nombre}}</p>
                <mat-card-content>
                  <p>Cantidad:{{product.cantidad}}</p>
                    <p>{{product.precio*product.cantidad | currency}}</p>
                    <p>{{product.description}}</p>
                    <mat-card-actions>
                        <button mat-raised-button (click)="deleteItem(product._id)">-</button>
                        <button mat-raised-button color=primary (click)="addCart(product)">+</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
            <p *ngIf="products.length !== 0">Total:{{total() | currency}} </p>
        </div>
        <div class="step">
          <button mat-raised-button matStepperNext [disabled]="products.length === 0">Siguiente</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="dataClient" editable="true">
      <form [formGroup]="dataClient">
        <ng-template matStepLabel>Tus datos</ng-template>
        <p>Necesitamos los siguientes datos para continuar</p>
        <mat-form-field appearance="fill" *ngIf="!user">
          <mat-label>Nombre y Apellido</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="nameField?.hasError('required')">Debes ingresar tu nombre</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="!user">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="emailField?.invalid">{{errorEmail()}}</mat-error>
        </mat-form-field>

        <p>¿Como querés retirar tu pedido?</p>
        <mat-radio-group aria-label="Select an option" (change)="formaRetiro($event.value)">
          <mat-radio-button color="primary" value="domicilio">Envio a domicilio</mat-radio-button>
          <mat-radio-button color="primary" value="local">Retiro por el local</mat-radio-button>
        </mat-radio-group>
        <mat-form-field appearance="fill" *ngIf="envio === 'domicilio'">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direction" required>
          <mat-error *ngIf="adressField?.hasError('required')">Debes ingresar tu dirección</mat-error>
        </mat-form-field>
        <p *ngIf="envio === 'local'">Podés retirar tu pedido en Pasaje Estrada 855, Formosa</p>
        <p *ngIf="envio === 'local'" class="aviso">Por favor, dejanos un teléfono para coordinar el horario de entrega</p>
        <mat-form-field appearance="fill" *ngIf="envio === 'local'">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="+540123456789" type="number">
          <mat-error *ngIf="phField?.hasError('required')">Debes ingresar un teléfono</mat-error>
          <mat-error *ngIf="phField?.hasError('min-length')">El telefono debe tener al menos 10 numeros</mat-error>
        </mat-form-field>
        <div class="step">
          <button mat-raised-button matStepperPrevious color="primary">Volver</button>
          <button mat-raised-button matStepperNext (click)="imprimir()">Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Hecho</ng-template>
      <p>¡Ya casi!</p>
      <div class="step">
        <div class="container">
          
        </div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button (click)="paid()">Pagar</button>
      </div>
    </mat-step>
  </mat-stepper>