<mat-stepper linear #stepper>


    <mat-step>
        <ng-template matStepLabel>Sus productos</ng-template>
        <div *ngIf="(products$ | async) as products" class="container">
            <p *ngIf="products.length === 0">Aun no hay productos en tu carrito</p>
              <mat-card class="card" *ngFor="let product of products">
                <img mat-card-image [src]="product.img" alt="product.description">
                <p>{{product.nombre}}</p>
                <mat-card-content>
                    <p>{{product.precio | currency}}</p>
                    <p>{{product.description}}</p>
                    <mat-card-actions>
                        <button mat-raised-button>-</button>
                        <button mat-raised-button color=primary>+</button>
                    </mat-card-actions>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="step"><button mat-raised-button matStepperNext>Siguiente</button></div>
    </mat-step>

    <mat-step [stepControl]="dataClient" editable="true">
      <form [formGroup]="dataClient">
        <ng-template matStepLabel>Tus datos</ng-template>
        <p>Necesitamos los siguientes datos para continuar</p>
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="nameField?.hasError('required')">Debes ingresar tu nombre</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="surname" required>
          <mat-error *ngIf="surnameField?.hasError('required')">Debes ingresar tu apellido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="emailField?.invalid">{{errorEmail()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="telefono" placeholder="+5401234561" required>
          <mat-error *ngIf="phField?.hasError('required')">Debes ingresar un teléfono</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Dirección</mat-label>
          <input matInput formControlName="direction" required>
          <mat-error *ngIf="adressField?.hasError('required')">Debes ingresar tu dirección</mat-error>
        </mat-form-field>
        <div class="step">
          <button mat-raised-button matStepperPrevious color="primary">Volver</button>
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Hecho</ng-template>
      <p>Elegí tu método de pago</p>
      <div class="step">
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button (click)="paid()">Pagar</button>
      </div>
    </mat-step>
  </mat-stepper>