<div class="container">
    <h1>Crear Nuevo Producto</h1>
    <form [formGroup]="formularioProducto">
    <mat-form-field appearance="fill">
        <mat-label>Nombre del producto</mat-label>
        <input matInput formControlName="nombre">
        <!-- <mat-error *ngIf="nombreCampo?.hasError('required')">Debes ingresar tu nombre</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Precio</mat-label>
        <input matInput formControlName="precio">
        <!-- <mat-error *ngIf="emailCampo?.invalid">{{errorEmail()}}</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Imagen</mat-label>
        <input matInput formControlName="img">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="desc">
        <!-- <mat-error *ngIf="msgCampo?.hasError('required')">Debes ingresar un mensaje</mat-error> -->
      </mat-form-field>
    </form>
    <button mat-button (click)="crearProducto()">Crear</button>
</div>