.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 35px;
    font-family: 'Bebas Neue';
}
mat-card,mat-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:15px;
    width: 75%;
    height: 100%;
    padding: 20px;
}

button{
    width:100px;
}
p{
    font-family: 'Lato';
    font-weight: 400;  
    font-size: 25px;
    line-height: 25px;
}
@media(max-width:650px){
mat-card-content{
    width: 100%;
}
button{
    margin: 5px;
}
}
