.container:nth-child(1){
  width: 100%;
  height: 100%;
  background: url(../../../../assets/banner2.png) no-repeat fixed top ;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

section{
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.bg{
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgb(255,255,255) 100%);
}
a{
  color: #000;
  text-decoration: none;
  text-align: center;
}
.ig{
  display: flex;
  align-items: center;
}
.card {
  max-width: 450px;
}
mat-card-header{
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}
.example-header-image {
  border: 1px solid #7c7c7c;
  background-image: url('../../../../assets/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.mat-card-title{
  margin-bottom: 0 !important;
}

h3{
  font-family: 'Bebas Neue';
  font-size: 35px;
  margin-top: 15px;
}

section:nth-child(4){
  h3{
    order: 2;
  }
}
.container:nth-child(5){
  border-top: .1px groove #000;
  width: 100%;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img{
    width: 40px;
  }
  p{
    font-size: 25px;
    margin: 0;
    font-family:'Bebas Neue';
  }
}
mat-icon{
  color: red;
}
.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background: url(../../../../assets/img-velka/post52.jpg) no-repeat scroll;
  background-size: cover;
  h2{
    font-size: 40px;
    font-family:'Bebas Neue';
    margin: 0;
    color: #fff;
  }
}

@media(max-width:480px){
  h1{
    font-size: 20px;
  }
  .container:nth-child(1){
    width: 100%;
    height: 30%;
    background: url(../../../../assets/banner2.png) no-repeat scroll;
    background-size:cover;
    background-position: 0% 10%;
  }
  span{
    display: none;
  }
  section:nth-child(4){
    h3{
      order: 0;
    }
  }
  app-promo,app-ingresos{
    display: flex;
  }
}