<div class="container">
</div>

<app-promo></app-promo>

<div class="bg">
  <section>
    <mat-card class="card" *ngFor="let card of cards">
      <a href="https://www.instagram.com/accesoriosvelka/" target="_blank">
<!--         <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>@accesoriosvelka</mat-card-title>
        </mat-card-header> -->
        <img mat-card-image [src]="card.img" alt="velka-accesorios" loading="lazy">
        <mat-card-actions>
          <button mat-button><mat-icon>favorite</mat-icon></button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </a>
    </mat-card>
  </section>
  
  <app-about></app-about>

  <div class="banner">
    <h2>Conoce mas</h2>
  </div>
</div>

<app-ingresos>
  
</app-ingresos>

<!-- <div class="container">
  <a class="ig" href="https://www.instagram.com/accesoriosvelka/" target="_blank"><img src="../../../assets/ig-icon.png" alt="logo-instagram-velka">@accesoriosvelka</a>
  <a class="ig" href="https://wa.link/e6jjkf" target="_blank"><img src="../../../assets/wp-icon.png" alt="logo-whatsapp-velka">¡Escribinos!</a>
  <i><img src="../../../assets/visa-icon.png" alt=""></i>
  <i><img src="../../../assets/mp-icon.png" alt=""></i>
  <i><img src="../../../assets/master-icon.png" alt=""></i>
</div> -->