.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    height: 90%;
    align-items: center;
}
h2{
    font-family: 'Bebas Neue';
    margin: 20px;
    font-size: 35px;
}
.swiper {
    width: 90%;
    height: 70%;
}
.swiper-slide{
  img{
      width: 35%;
  }
}
.card{
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
button{
    margin: 15px;
}
strong{
    font-family: 'Bebas Neue';
    font-size: 35px;
    font-weight: 300;
    color: var(--primary);
}
    @media(max-width:480px){
        h2{
            font-size: 25px;
        }
        .swiper {
            width: 90%;
            height: 100%;
        }
        .card{
            flex-direction:column;
            height:-webkit-fill-available;
        }img{
            width: 80% !important;
            height: 60%;
        }
        .swiper-pagination{
            display: none;
        }
    }