<div class="container">
  <div class="header">
    <h1>Velka</h1>
    <h2>Accesorios</h2>
  </div>
</div>

<section>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@accesoriosvelka</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img-velka/frase1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@accesoriosvelka</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img-velka/frase2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>

<section class="promo">
  <h3>Nosotrxs --></h3>
  <mat-card>
    <img mat-card-image src="../../../assets/banner2.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</section>

<section class="promo">
  <h3> <-- Promociones</h3>
  <mat-card>
    <img mat-card-image src="../../../assets/banner1.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
    </mat-card-content>
  </mat-card>
</section>

<div class="container">
  <a><img src="../../../assets/iglogo.png" alt=""></a>
  <p>Contactanos</p>
  <a><img src="../../../assets/wpplogo.png" alt=""></a>
</div>