<div class="container">
  <!-- <div class="header"> -->
    <!-- <h1>Velka</h1> -->
    <!-- <h2>Accesorios</h2> -->
  <!-- </div> -->
</div>
<section>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@accesoriosvelka</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img-velka/frase1.jpg" alt="velka-accesorios">
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>@accesoriosvelka</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img-velka/frase2.jpg" alt="velka-accesorios">
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</section>

<section class="promo" >
  <h3>Nosotrxs <span>--></span></h3>
  <mat-card matRipple
  [matRippleCentered]="true"
  [matRippleRadius]=650
  [matRippleColor]="'white'"
  [routerLink]="['/about']">
    <img mat-card-image src="../../../assets/banner.png" alt="velka-accesorios">
  </mat-card>
</section>

<section class="promo">
  <h3> <span><--</span> Promociones</h3>
  <mat-card matRipple
  [matRippleCentered]="true"
  [matRippleRadius]=650
  [matRippleColor]="'white'"
  [routerLink]="['/products/promo']"
  >
    <img mat-card-image src="../../../assets/banner1.png" alt="velka-accesorios">
  </mat-card>
</section>

<div class="container">
  <a href="https://www.instagram.com/accesoriosvelka/" target="_blank"><img src="../../../assets/iglogo.png" alt="logo-instagram-velka"></a>
  <p>Contactanos</p>
  <a href="https://wa.link/e6jjkf" target="_blank"><img src="../../../assets/wpplogo.png" alt="logo-whatsapp-velka"></a>
</div>