.container{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    mat-form-field{
    margin: auto;
    width: 90%;
    }
}

.productos{
    text-align: center;
    padding-bottom: 20px;
}
.tallesProducto{    
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    background-color: #f0f0f0;
    p{
        margin-left: 10px;
        color: grey;
    }
    .talles{
        display: flex;
        flex-wrap: wrap;
        p{
            color: #000;
            border: 1px solid #000;
            border-radius:5px;
            font-size: 20px;
            padding: 5px;
            font-weight: 400;
        }
    }
}
.imagen{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    background-color: #f0f0f0;
    mat-label{
        margin-left: 10px;
        color: grey;
    }
    input{
        margin-right: 20px;
    }
    img{
        width: 200px;
        margin: 0 30px;
    }
}

.layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    div{
        position: relative;
    }
    img{
        max-width: 250px;
        max-height: 400px;
        transition: .5s;
    }
    img:hover{
        transition: .5s;
        opacity: 0.6;
    }
    p{
        transition: .5s;
        position: absolute;
        opacity: 0;
        color: rgb(0, 0, 0);
        top: 10px;
        left: 10px;
        font-size: 30px;
    }
    img:hover ~ p{
        opacity: 1;
        transition: .5s;
    }
}

button{
    width: 10%;
    margin: auto;
}
.spinner{
    display: flex;
    h1{
        margin-right: 10px;
    }
}
.boton-imagenes{
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    input,button{
        max-width: 150px;
        position: absolute;
    }
    input{
        width: 146px;
        height: 38px;
        opacity: 0;
        z-index: 2;
    }
    button{
        width: 150px;
        height: 40px;
        opacity: 1;
        z-index: 0;
    }
}

@media(max-width:760px){
    h1{
        margin: 15px;
    }
    form{
        display: flex;
        flex-direction: column;
        mat-form-field{
        margin: auto;
        }
    }
    .imagen,.tallesProducto{
        flex-direction: column;
        overflow: hidden;
            img{
                margin: 20px;
            }
    }

}