<div class="container">
    <div class="spinner">
        <h1 mat-dialog-title>Editar producto</h1>
        <mat-progress-spinner
        diameter="40"
        *ngIf="showSpinner"
        color="primary"
        mode="indeterminate">
        </mat-progress-spinner>
    </div>
    <div mat-dialog-content>
        <div class="productos">
            <form [formGroup]="formularioProducto">
            <mat-form-field appearance="fill">
                <mat-label>Nombre del producto</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select matInput formControlName="categoria">
               <mat-option *ngFor="let category of categorias" [value]="category._id">
                        {{category.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Precio</mat-label>
                <input matInput formControlName="precio" type="number">
            </mat-form-field>
            <div class="imagen">
                <mat-label>Imagen</mat-label>
                <input formControlName="img" type="file" (change)="cambiarImg($event)">
                <img [src]="viewImg" alt="">
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Descripción</mat-label>
                <textarea matInput formControlName="descripcion"></textarea>
              </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="button" (click)="editarProducto()">Editar</button>
        <button mat-raised-button color="warn" mat-dialog-close>Volver</button>
    </div>
  </div>