<div class="inventario">
    <div class="container">
        <h1>Analisis de Ventas</h1>
        <table>
            <tr class="titulo">
              <th>Nombre</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Cantidad</th>
            </tr>
            <tr *ngFor ="let producto of imprimirArr(); let i = index" class="productos">
              <td>{{producto.title}}</td>
              <td>{{producto.unit_price | currency}}</td>
              <td>{{producto.description}}</td>
              <td>{{producto.quantity}}</td>
            </tr>
          </table>
    </div>
</div>


<!-- Estadisticas -->
<div class="estadisticas">
    <ngx-charts-linear-gauge
        [view]="view"
        [value]="this.totalCantidad()"
        (select)="onSelect($event)"
        [units]="'Productos Vendidos'">
    </ngx-charts-linear-gauge>
    <ngx-charts-linear-gauge
        [view]="view"
        [value]="this.totalPrecio()"
        (select)="onSelect($event)"
        [units]="'Monto Vendido'">
    </ngx-charts-linear-gauge>
</div>