
<div class="container" *ngIf="product">
    <mat-card class="card">
        <img mat-card-image [src]="product.img" alt="product.description" loading="lazy">
            <mat-card-content>
                <p>{{product.nombre}}</p>
                <p>{{product.precio | currency}}</p>
                <p>{{product.descripcion}}</p>
                <mat-form-field appearance="fill">
                    <mat-label>Elegí el talle</mat-label>
                    <mat-select matInput (selectionChange)="changeTalle($event,product)" [(value)]="selected">
                        <mat-option *ngFor="let talle of talles" [value]="talle">
                            {{talle}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button mat-dialog-close color=warn>Volver</button>
                    <button mat-raised-button color=primary (click)="addCart(product)">Agregar</button> 
                </mat-card-actions>
            </mat-card-content>
    </mat-card>
</div>