<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
        >
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="drawer.toggle()">Home</a>
        <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="drawer.toggle()">Productos</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="drawer.toggle()">Contacto</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="accent">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Velka</span>
        <span class="spacer"></span>
        <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="/products" routerLinkActive="active" >Productos</a>
        <a mat-list-item routerLink="/contact" routerLinkActive="active" >Contacto</a>
      </mat-toolbar>
     <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>