h1{
    text-align: center;
    margin: 20px;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    margin: 30px;
}
img{
    min-width: 100%;
    max-height: 320px;
}
.toggle{
    width: 100%;
    text-align: center;
}