h1{
    text-align: center;
    margin: 20px;
    font-family: 'Bebas Neue';
    font-size: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 30px;
    mat-card-title,p{
        font-family: 'Lato';
    }
    p{
        font-size: 20px;
    }
}
img{
    max-width: 75%;
    height: 300px;
}
.toggle{
    width: 100%;
    text-align: center;
}
.precio{
    font-size: 20px;
    color: var(--primary);
    font-weight: 600;
    text-align: center;
}
@media(max-width:350px){
    mat-card-actions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}