h1,h2{
    grid-area: titulo;
    font-size: 35px;
    font-family: 'Bebas Neue';
    margin-top: 16px;
}
p{
    font-size: 25px;
    font-family: 'Lato';
    margin: 16px;
}
.producto1{
    grid-area: producto1;
}
.producto2{
    grid-area: producto2;
}
.container{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-areas:
    "titulo titulo"
    "producto1 producto2"
    ;
}
img{
    width: 300px;
    border-radius: 10px;
}
@media(max-width:780px){
    .container{
        grid-template-areas:
        "titulo"
        "producto1"
        "producto2"
        ;
    }
}