<div class="container">
  <mat-card class="card">
    <img mat-card-image src="../../../../assets/img-velka/vale.jpg" alt="product.description">
    <mat-card-content>
      <h1>¿Que es Velka?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati deleniti doloremque praesentium voluptas doloribus accusamus asxercitationem dolorum vitae doloribus recusandae illo repudiandae molestias quo eos, quibusdam dolore voluptatum vero sequi corporis.</p>
      </mat-card-content>
  </mat-card>
  <button mat-raised-button [routerLink]="['/home']" color=warn>Volver</button>
</div>