<div class="container">
  <mat-card>
    <img mat-card-image src="../../../../assets/vale-marcos.jpeg" alt="product.description" loading="lazy">
    <mat-card-content>
      <h1>¿Que es Velka?</h1>
      <p>Velka surge como un emprendimiento de accesorios super chiquito pero hechos con mucho amor, que luego de un tiempo creció y empezamos a realizar nuestras propias prendas hand made, siempre con el mismo amor e incluso más. 🤍</p>
      <p>¡Gracias por eleginos!</p>
      </mat-card-content>
  </mat-card>
  <button mat-raised-button [routerLink]="['/home']" color=warn>Volver</button>
</div>